.cajaNav {
  background-color: #dba968;
  text-align: center;
  height: 20rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center; }
  .cajaNav .__contenedorNav {
    background-position: center;
    background-size: 100%;
    width: 32%; }
    .cajaNav .__contenedorNav a {
      text-decoration: none;
      color: #faf3f3;
      width: 100%;
      height: 100%;
      text-align: center; }
  .cajaNav :hover {
    transition: 2s;
    font-size: 1.2rem;
    background-size: 29rem; }
  .cajaNav .platos {
    background-image: url("../media/platos.jpg");
    background-position: center; }
  .cajaNav .postres {
    background-image: url("../media/postres.jpg");
    background-position: center; }
  .cajaNav .tragos {
    background-image: url("../media/tragos.jpg");
    background-position: center; }

header {
  background-color: indianred; }

h1 {
  font-family: "Courier New", Courier, monospace; }

._titulo {
  color: #e0cece;
  background-color: indianred;
  text-align: center; }

.tabla {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: indianred;
  text-align: center; }
  .tabla table {
    background-color: #e0cece; }
  .tabla .tablaMenu {
    background-color: #e0cece; }

.seccionPrincipal {
  display: grid;
  grid-template-areas: 'asideDer articulo asideIzq' 'asideDer articulo asideIzq' 'asideDer articulo asideIzq';
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center; }
  .seccionPrincipal .aside.Izq {
    margin-top: 15px;
    margin-bottom: 15px; }
    .seccionPrincipal .aside.Izq form {
      background-image: linear-gradient(indianred, #e48d8d);
      color: #c5c1c1;
      padding-bottom: 1.2rem; }
  .seccionPrincipal .aside.Der {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 453px; }
    .seccionPrincipal .aside.Der ul {
      background-image: linear-gradient(indianred, #e48d8d);
      list-style-type: none;
      padding-left: 15px;
      padding-bottom: 17.2rem; }
      .seccionPrincipal .aside.Der ul a {
        text-decoration: none;
        color: #c5c1c1;
        font-size: 25px;
        transform: ro; }

footer {
  /* display: grid;
        grid-template-areas: 
        'red1 cajaFooter telefono'
        'red2 cajaFooter formtrabajo'
        'red3 cajaFooter legales'; */
  background-color: lightcoral; }

.red1 {
  background-color: lightcoral; }

.red2 {
  background-color: lightcoral; }

.red3 {
  background-color: lightcoral; }

@media only screen and (min-width: 768px) {
  body {
    background-color: white; } }

/* TABLET */
@media only screen and (seemax-width: 767px) and (min-width: 321px) {
  body {
    background-color: darkgrey; } }

/* MOBILE */
@media only screen and (max-width: 320px) {
  body {
    background-color: skyblue;
    /* grid-template-columns: repeat(2, 1fr); */ } }
