



.cajaNav{

    background-color:rgb(219, 169, 104);
    text-align: center;   
    height: 20rem;
    display: flex;
    flex: 1 ;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

    .__contenedorNav {

        background-position: center;
        background-size: 100%;
        width: 32%;


        a{
        text-decoration: none;
        color:rgb(250, 243, 243);
        width: 100%;
        height: 100%; 
        text-align: center;
        }

      
        
   }
    :hover {

        transition: 2s;
        font-size: 1.2rem;
        
        background-size: 29rem;
    }  

    @each $carta in platos,postres,tragos {

        .#{$carta}{

            background-image: url('../media/#{$carta}.jpg');
            background-position: center;
        }
        
    }
}