    
  
    @import 'variables.scss';
    @import '_cajaNav.scss';

    header{

        background-color:$colorPrincipal;

    }
    body{
        overflow-x: hidden;
    }
    .seccionTragos{

        font-family: $fuenteLogo;
    }
    h1{
        font-family: $fuenteLogo;         
           
        
       
    }
    ._titulo{
        color: rgb(224, 206, 206);
        background-color: $colorPrincipal;
        text-align: center;
    }

    .breadcrumb{

        background-color:$colorSecundario;
    }

    .tabla
    {   
        
        margin-top: 15px;
        margin-bottom: 15px;                
        background-color: $colorPrincipal;
        text-align: center;
        table{
            margin:auto;
            background-color: $colorSecundario;
        }
        .tablaMenu{

            background-color: $colorSecundario;
        }
    }

    .seccionPrincipal{ 
        
        display: grid;
        grid-template-areas:
        'asideDer articulo asideIzq'
        'asideDer articulo asideIzq'
        'asideDer articulo asideIzq';
        
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;

        .aside.Izq {
            margin-top: 15px;
            margin-bottom: 15px;

            form{
                background-image: linear-gradient( indianred,rgb(228, 141, 141));
                
                color: rgb(197, 193, 193);   
                padding-bottom: 1.2rem;
             
            }
        }
        .aside.Der{
            margin-top: 15px;
            margin-bottom: 15px;
   
            width: 200px;
            height: 453px;
            ul {

                background-image: linear-gradient( indianred,rgb(228, 141, 141));
                
                list-style-type: none;
                padding-left: 15px;
                padding-bottom:17.2rem;
                a{

                    text-decoration:none;
                    color:rgb(197, 193, 193);
                    font-size:25px;
                    transform: ro; 
                
                }
            }
            
        }
               
    }
    .articulo{

        margin-top: 15px;
    }
    .videos{

        align-items: center;
    }
    .volver{
        background-color: $colorSecundario;
        font-family: $fuenteLogo;
        margin-bottom: 50px;
        a{
            text-decoration: none;
            color: black;
            font-size: 30px;
            
        }

    }
    
    footer{
       
        background-color:rgb(219, 169, 104);

        .card{
            border: none;
            background-color: rgb(219, 169, 104);
        }
        .red img{
            width: 20px;

        }
    }
    

    .imagenTragos{
        float: left;
        margin-right: 20px;
        width: 350px;
        align-items: center;
    }
    .imagenPostres{
        float: left;
        margin-right: 20px;
        width: 350px;
        align-items: center;
    }
    .trago{ 
    background-color: $colorSecundario;
    
        p{
            width: 600px;
            height: 453px;
            margin-left: 205px;
            top: 0;
            text-align: justify;
        }

    }
    .tituloSec{
        text-align: center;
        background-color: $colorPrincipal;   
    }
    
    .postre{ 
        background-color: $colorSecundario;
        margin-bottom: 20px;
        
        p{
            width: 600px;
            height: 453px;
            margin-left: 205px;
            top: 0;
            text-align: justify;}
        }

        .plato{ 
            background-color: $colorSecundario;
            margin-bottom: 20px;
            p{
                width: 600px;
                height: 453px;
                margin-left: 205px;
                top: 0;
                text-align: justify;}
            }    
    .red1{
        background-color: lightcoral;
    }
    .red2{
        background-color: lightcoral;
    }
    .red3{
        background-color: lightcoral;
    }

    @media only screen and (min-width: 768px) {
        body{
            background-color: white;
            height: auto;
            width: auto;      

        }
    }

    /* TABLET */

    @media only screen and (seemax-width: 767px) and (min-width: 321px){
        body{
            background-color:darkgrey;
            height: auto;
            width: auto;      

        }
    }

    /* MOBILE */

    @media only screen and (max-width: 320px) {
        body{
            background-color:skyblue;
            height: auto;
            width: auto;      

        }
        
    }


